<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <activity android:name=".WebFieldActivity" android:exported="false" />
    <service android:name=".WebFieldService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:exported="true">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data android:name="android.accessibilityservice" android:resource="@xml/a11y_demo" />
    </service>
  </application>
</manifest>
